<p>This is the dojos view.</p>
<table width="750" cellpadding="0" cellspacing="0">
  <tbody><tr><td colspan="10" align="left"><font size="3" face="Arial, Helvetica">&nbsp; <br></font></td></tr>

  <tr><td colspan="10" align="left" bgcolor="#F0F000"><font size="3" face="Arial, Helvetica"><b>&nbsp; <a href="mwkf.htm">MWKF</a></b></font></td></tr>
  <tr><td colspan="10" align="left"><font size="2" face="Arial, Helvetica">&nbsp; <br></font></td></tr>

  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Battle Creek Kendo Kai</b><br>
      &nbsp;&nbsp;&nbsp;West Dickman Fitness Center [see <a href="http://maps.google.com/maps?q=2851+W.+Dickman+Rd.,Battle+Creek,mi+(Battle+Creek+Kendo+Kai)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;2851 W. Dickman Rd.<br>
      &nbsp;&nbsp;&nbsp;Battle Creek,
      &nbsp;&nbsp;&nbsp;<a href="mi.htm">MI</a><br>
      &nbsp;&nbsp;&nbsp;<a href="http://kendo.nscl.msu.edu/battlecreek">http://kendo.nscl.msu.edu/battlecreek</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;David Christman<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(269) 965-6590<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:dtc12@comcast.net">dtc12@comcast.net</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Bloomington Normal Mitsubishi Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;Bromen Adult Day Care Center [see <a href="http://maps.google.com/maps?q=202+E.+Locust,Bloomington,il+61701+(Bloomington+Normal+Mitsubishi+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;202 E. Locust<br>
      &nbsp;&nbsp;&nbsp;Bloomington,
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a> &nbsp;&nbsp; 61701<br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;David Shaneman<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:ilwroby@springnet1.com">ilwroby@springnet1.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Carleton College Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;<a href="mn.htm">MN</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;John T.Born<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:John" born@mnkyudo.org="">John born@mnkyudo.org</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Central Indiana Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;<a href="in.htm">IN</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Hajime Sugawara<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:hajime222@yahoo.com">hajime222@yahoo.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Chicago Kendo Dojo</b><br>
      &nbsp;&nbsp;&nbsp;Buddhist Temple of Chicago [see <a href="http://maps.google.com/maps?q=1151+W.+Leland+Ave.,Chicago,il+(Chicago+Kendo+Dojo)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;1151 W. Leland Ave.<br>
      &nbsp;&nbsp;&nbsp;Chicago,
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br>
      &nbsp;&nbsp;&nbsp;<a href="http://www.chicagokendo.org">http://www.chicagokendo.org</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Frank Matsumoto<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(773) 583-2282<br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Choyokan Kendo Dojo</b><br>
      &nbsp;&nbsp;&nbsp;Ravenswood Fellowship United Methodist Church [see <a href="http://maps.google.com/maps?q=4511+N+Hermitage,Chicago,il+(Choyokan+Kendo+Dojo)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;4511 N Hermitage<br>
      &nbsp;&nbsp;&nbsp;Chicago,
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br>
      &nbsp;&nbsp;&nbsp;<a href="http://www.choyokan-kendo.org">http://www.choyokan-kendo.org</a><br><br>
      &nbsp;&nbsp;&nbsp;W F 8-10pm<br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Dr. Ken Sakamoto<br>
      &nbsp;&nbsp;&nbsp;&nbsp;.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:sakamotok@mac.com">sakamotok@mac.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">

      &nbsp;&nbsp;&nbsp;UIC Sports and Fitness Center [see <a href="http://maps.google.com/maps?q=828+S.+Wolcott,Chicago,il+()">map</a>]<br>
      &nbsp;&nbsp;&nbsp;828 S. Wolcott<br>
      &nbsp;&nbsp;&nbsp;Chicago,
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br><br>
      &nbsp;&nbsp;&nbsp;Su Noon-2pm<br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">

      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Choyokan Kendo Dojo - Des Plaines</b><br>
      &nbsp;&nbsp;&nbsp;Golf Maine Park District Gym [see <a href="http://maps.google.com/maps?q=9229+W.+Emerson+Ave.,Des+Plaines,il+(Choyokan+Kendo+Dojo+-+Des+Plaines)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;9229 W. Emerson Ave.<br>
      &nbsp;&nbsp;&nbsp;Des Plaines,
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Tom Okawara<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:Tomo-jo@sbcglobal.net">Tomo-jo@sbcglobal.net</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Detroit Kendo Dojo</b><br>
      &nbsp;&nbsp;&nbsp;Seaholm High School [see <a href="http://maps.google.com/maps?q=2436+W.+Lincoln+St.,Birmingham,mi+48009+(Detroit+Kendo+Dojo)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;2436 W. Lincoln St.<br>
      &nbsp;&nbsp;&nbsp;Birmingham,
      &nbsp;&nbsp;&nbsp;<a href="mi.htm">MI</a> &nbsp;&nbsp; 48009<br>
      &nbsp;&nbsp;&nbsp;<a href="http://detroitkendodojo.com">http://detroitkendodojo.com</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Katsuhiko Kan<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:detroitkendodojo@hotmail.com">detroitkendodojo@hotmail.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Eastern Michigan Kendo Dojo</b><br>
      &nbsp;&nbsp;&nbsp;Eastern Michigan University<br>
      &nbsp;&nbsp;&nbsp;Warner Gymnasium<br>
      &nbsp;&nbsp;&nbsp;Ypsilanti,
      &nbsp;&nbsp;&nbsp;<a href="mi.htm">MI</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Charlie Kondek<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(734) 484-3284<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:charliekondek@yahoo.com">charliekondek@yahoo.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Grand Rapids Kendo Kai</b><br>
      &nbsp;&nbsp;&nbsp;<a href="mi.htm">MI</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Yutaro Matsuura<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:yutaro_m@yahoo.com">yutaro_m@yahoo.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Hokkyokusei Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;Rochester Family YMCA [see <a href="http://maps.google.com/maps?q=720+1st+Ave.+SW,Rochester,mn+(Hokkyokusei+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;720 1st Ave. SW<br>
      &nbsp;&nbsp;&nbsp;Rochester,
      &nbsp;&nbsp;&nbsp;<a href="mn.htm">MN</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Stephen Voss<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(507) 281-3163<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:vosssenshu@aol.com">vosssenshu@aol.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">

      &nbsp;&nbsp;&nbsp;Minnesota Institute of Martial Arts [see <a href="http://maps.google.com/maps?q=1001+Payne+Ave.,St.+Paul,mn+()">map</a>]<br>
      &nbsp;&nbsp;&nbsp;1001 Payne Ave.<br>
      &nbsp;&nbsp;&nbsp;St. Paul,
      &nbsp;&nbsp;&nbsp;<a href="mn.htm">MN</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">

      &nbsp;&nbsp;&nbsp;Stephen Voss<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(507) 281-3163<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:vosssenshu@aol.com">vosssenshu@aol.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Kansas City Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;Brookridge Park [see <a href="http://maps.google.com/maps?q=101st+and+Lowell,Overland+Park,ks+66219+(Kansas+City+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;101st and Lowell<br>
      &nbsp;&nbsp;&nbsp;Overland Park,
      &nbsp;&nbsp;&nbsp;<a href="ks.htm">KS</a> &nbsp;&nbsp; 66219<br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;John Drakey<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:Jdrakey@kc.rr.com">Jdrakey@kc.rr.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Michigan State University (MSU) Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;<a href="mi.htm">MI</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Ron Fox<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(517) 333-6349<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:fox@kendo.msu.edu">fox@kendo.msu.edu</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Milwaukee Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;The Wisconsin Athletic Club [see <a href="http://maps.google.com/maps?q=1939+S.+108th+St.,West+Allis,wi+53227+(Milwaukee+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;1939 S. 108th St.<br>
      &nbsp;&nbsp;&nbsp;West Allis,
      &nbsp;&nbsp;&nbsp;<a href="wi.htm">WI</a> &nbsp;&nbsp; 53227<br>
      &nbsp;&nbsp;&nbsp;<a href="http://www.milwaukeekendo.org">http://www.milwaukeekendo.org</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Jeff Solliday-McRoy<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:jeff@luminaris.org">jeff@luminaris.org</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Minnehaha Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;4744 Chicago Ave. [see <a href="http://maps.google.com/maps?q=4744+Chicago+Ave.,Minneapolis,mn+(Minnehaha+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;Minneapolis,
      &nbsp;&nbsp;&nbsp;<a href="mn.htm">MN</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Robert Cochran<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(612) 823-6715<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:Rcochran_Minnehaha@msn.com">Rcochran_Minnehaha@msn.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Miyoga Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Peter Harrison<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(773) 975-6248<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:pharriso@nefinc.org">pharriso@nefinc.org</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Moline Kendo Dojo</b><br>
      &nbsp;&nbsp;&nbsp;Birdsell Chiropractic [see <a href="http://maps.google.com/maps?q=1201++5th+avenue,Moline,il+(Moline+Kendo+Dojo)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;1201  5th avenue<br>
      &nbsp;&nbsp;&nbsp;Moline,
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;David Birdesll<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(309) 736-0240<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:davidbirdsell@sbcglobal.net">davidbirdsell@sbcglobal.net</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Musoshindenryu Iaido - Moorhead Dojo</b><br>
      &nbsp;&nbsp;&nbsp;121 6th Ave S [see <a href="http://maps.google.com/maps?q=121+6th+Ave+S,Moorhead,mn+(Musoshindenryu+Iaido+-+Moorhead+Dojo)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;Moorhead,
      &nbsp;&nbsp;&nbsp;<a href="mn.htm">MN</a><br>
      &nbsp;&nbsp;&nbsp;<a href="http://www.musoshindenryu.com">http://www.musoshindenryu.com</a><br><br>
      &nbsp;&nbsp;&nbsp;W 6:30-9:30pm<br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Bradley Anderson<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(218) 329-7284<br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Racoon Valley Kendo</b><br>
      &nbsp;&nbsp;&nbsp;<a href="ia.htm">IA</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Ric Flinn<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(515) 993-5461<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:zanshin09@yahoo.com">zanshin09@yahoo.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>UIUC</b><br>
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Sain-Zee Ueng<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(217) 224-3226<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:Sainueng@yahoo.com">Sainueng@yahoo.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>University of Chicago Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;Bartlette Gym [see <a href="http://maps.google.com/maps?q=5640+S.+University+Ave.,Chicago,il+(University+of+Chicago+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;5640 S. University Ave.<br>
      &nbsp;&nbsp;&nbsp;Chicago,
      &nbsp;&nbsp;&nbsp;<a href="il.htm">IL</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Hyonggun Choi<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(773) 702-0187<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:choihyonggun@msn.com">choihyonggun@msn.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Univ of Michigan</b><br>
      &nbsp;&nbsp;&nbsp;<a href="mi.htm">MI</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Ken Wakabyashi<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:kendoclubinfo@umich.edu">kendoclubinfo@umich.edu</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>University of Wisconsin Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;University of Wisconsin-Madison Natatorium Gym Unit II [see <a href="http://maps.google.com/maps?q=2000+Observatory+Drive,Madison,wi+(University+of+Wisconsin+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;2000 Observatory Drive<br>
      &nbsp;&nbsp;&nbsp;Madison,
      &nbsp;&nbsp;&nbsp;<a href="wi.htm">WI</a><br>
      &nbsp;<br></font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FFFFFF" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;J. Mark Kenoyer<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:jkenoyer@wisc.edu">jkenoyer@wisc.edu</a><br>
      &nbsp;<br></font></td>
  </tr>
  <tr>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">&nbsp;&nbsp;</font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      <img src="../art/redball.gif">&nbsp;<b>Valley View Kendo Club</b><br>
      &nbsp;&nbsp;&nbsp;3939 County Road B [see <a href="http://maps.google.com/maps?q=3939+County+Road+B,La+Crosse,wi+(Valley+View+Kendo+Club)">map</a>]<br>
      &nbsp;&nbsp;&nbsp;La Crosse,
      &nbsp;&nbsp;&nbsp;<a href="wi.htm">WI</a><br><br>
      &nbsp;&nbsp;&nbsp;Th 8-9:30pm<br>
      &nbsp;&nbsp;&nbsp;Sa 11am-1pm<br>
      &nbsp;<br></font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      &nbsp;&nbsp;
    </font></td>
    <td bgcolor="#FOFOF0" valign="top"><font face="Arial, Helvetica" size="2">
      Contact:<br>
      &nbsp;&nbsp;&nbsp;Matthew Reardon<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:mjreards@yahoo.com">mjreards@yahoo.com</a><br>
      &nbsp;<br></font></td>
  </tr>
  </tbody></table>
