<table width="910" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="left" valign="top">
            &nbsp;<br>

            <blockquote>
                <img src="/images/2006.jpg" width="375" height="500" hspace="10" border="1" align="right">

                <h3 align="left">References</h3>

                <p><a href="study.htm">Study Guide</a></p>

                <p><a href="points.htm">Iaido Points</a></p>

                <p><a href="2010/2010_iaido_questions.pdf">Iaido Shinsa Questions</a></p>

                <p><a href="http://shinken.us/static/upload/AUSKF_Iaido_history.txt">History
                    of the AUSKF Iaido Summer Camp and Championship</a></p>

                <p><a href="http://shinken.us/static/upload/AUSKF_Iaido_results.txt">Previous
                    United States Iaido Championship Results</a></p>

                <!-- upcoming vvv --->
                <h3>Upcoming and Recent Events</h3>

                <p> See the AUSKF <a href="../news.htm">NEWS &amp; EVENTS</a> page
                    and search for "iaido"
                </p>

                <p>&nbsp;</p>

                Reports and photos from previous years may also be found in the
                <a href="archive.htm">Archives</a>

                <p>&nbsp;</p>
            </blockquote>
            <!-- InstanceEndEditable -->
        </td>
    </tr>
    </tbody>
</table>
