<table width="910" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td align="left" valign="top"><font size="2" face="Arial, Helvetica, sans-serif">
      &nbsp;<br>

      <blockquote>
        <font size="2" face="Arial, Helvetica, sans-serif"><strong>
          <img src="/images/2006.jpg" width="375" height="500" hspace="10" border="1" align="right"></strong></font>

        <h3 align="left">References</h3>
        <font size="2" face="Arial, Helvetica, sans-serif">
          <p> <a href="study.htm">Study Guide</a> </p>
          <p> <a href="points.htm">Iaido Points</a> </p>
          <p> <a href="2010/2010_iaido_questions.pdf">Iaido Shinsa Questions</a> </p>
          <p> <a href="http://shinken.us/static/upload/AUSKF_Iaido_history.txt">History
            of the AUSKF Iaido Summer Camp and Championship</a> </p>
          <p> <a href="http://shinken.us/static/upload/AUSKF_Iaido_results.txt">Previous
            United States Iaido Championship Results</a> </p>
        </font>

        <p>&nbsp;</p>
        <!-- upcoming vvv --->
        <h3><font face="Arial, Helvetica, sans-serif">Upcoming and Recent Events</font> </h3>
        <font size="2" face="Arial, Helvetica, sans-serif">
          <p> See the AUSKF <a href="../news.htm">NEWS &amp; EVENTS</a> page
            and search for "iaido"
          </p>
        </font>

        <p>&nbsp;</p>
        <font size="2" face="Arial, Helvetica, sans-serif">
          Reports and photos from previous years may also be found in the
          <a href="archive.htm">Archives</a></font>

        <p>&nbsp;</p>
      </blockquote>
      <!-- InstanceEndEditable --><font size="2" face="Arial, Helvetica, sans-serif">&nbsp;
      </font>
    </td>
  </tr>
  <tr>
    <td align="left" valign="bottom"><font size="1" face="Arial, Helvetica, sans-serif">
      <hr>
      <img src="../art/copyright.gif" width="445" height="19"><br>
      <img src="../art/null.gif" width="500" height="5"><br>
      Site Disclaimer:  This website is posted as a service to the All United States Kendo Federation. Information
      on this website is posted from many different sources and every effort is made to post accurate information.
      Errors may occur and users use this site without warranties of any
      sort implied and at their own risk.
    </font>
    </td>
  </tr>
  </tbody></table>
