<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="LogConnection" connectionString="Server=localhost;Database=AUSKF;User ID=tstron;Password=rfvTGB_000;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=TSTRON-PC;Initial Catalog=AUSKF;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>